#github-link{
    text-shadow: 2px 2px 7px darkgreen;
}

.first-paragraph{
    border: 2px dashed darkgreen;
}

body {
    background-color: burlywood;
}

button {
    border: none;
    box-shadow: 3px 3px 7px rgb(rgb(134, 56, 56), green, blue);
    cursor: pointer;
}

[type=text], [type=number], [type=submit],{
    padding: 8px;
}